{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <meta name="robots" content="index, follow" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{% block title %}Medical Tourism Agency Korea Golden Roof{% endblock title %}</title>
        <meta name="description" content="{% block description %}We are Officially registered, Licensed, Insured and Experienced medical tourism agency. We make medical tourism Quick, Easy and Effortless since 2014. Contact us 24/7 and we will take care of everything."{% endblock description %}/>
        <meta name="keywords" content="{% block keywords %}{% endblock keywords %}medical tourism, medical tourism Korea, medical tourism Korea agency, health tourism, health tourism Korea, health tourism Korea agency, surgical tourism, surgical tourism Korea, surgical tourism Korea agency, medical travel, medical travel Korea, medical travel Korea agency" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Icons from https://fontawesome.com/-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"> 

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/fav/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/fav/manifest.json' %}"/>
        <link rel="mask-icon" href="{% static 'images/fav/safari-pinned-tab.svg' %}"/>
        
        <!-- Jicosite -->
        <script src="//code.jivosite.com/widget.js" data-jv-id="2dKlgipJ5x" async></script>
    </head>
        
    <body>
        <!-- For Desktop -->
        <nav class="navbar navbar-light py-3 d-none d-lg-block">
            <div class="container">
                <a class="nav-link text-center px-md-3" href="https://goldenroof.org" title="Licensed, Insured and Experienced medical tourism agency">
                    <img class="img img-fluid c-logo c-logo-size-3">
                </a>
                <a class="nav-item nav-link" href="#about_us" title="About us">About us</a>
                <a class="nav-link text-center" href="#how_we_work" title="What we do">Services</a>
                <a class="nav-link text-center" href="#hospital_snubh" title="Our partner Hospitals">Hospitals</a>
                <a class="nav-link text-center" href="#contacts" title="Contact us">Contacts</a>
            </div>
        </nav>


        <!-- For Mobile -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-light px-3 p-md-3 d-lg-none">
            <a class="nav-link text-center px-md-3" href="https://goldenroof.org" title="Licensed, Insured and Experienced medical tourism agency">
                <img class="card-img-top c-logo c-logo-size-1" src="{% static 'images/golden_roof_korea_medical_tourism_logo.png' %}" alt="Golden Roof">
            </a>
            <a class="nav-link text-center px-md-3" href="tel:+821050904297" role="button" title="Call us, phone number in Korea">
                <i class="fas fa-phone nav_icon"></i>
            </a>
            <a class="nav-link text-center px-md-3" href="https://api.whatsapp.com/send?phone=821050904297&text=I%20am%20interested%20in%20medical%20treatment%20in%20Korea." role="button" title="Chat with us on WhatsApp">
                <i class="fab fa-whatsapp nav_icon"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class= "nav-link text-center" href="#about_us" title="About us">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#how_we_work" title="What we do">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#hospital_snubh" title="Our partner Hospitals">Hospitals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#contacts" title="Contact us">Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="container h-100" style="min-height:80vh;">
            {% block content %}
            {% endblock content %}
        </section>

        <footer id="footer" class="small bg-dark text-color-white py-4">
            <div class="container">
                <div class="d-flex flex-row mb-4">
                    <div class="mr-4">
                        <a href="https://goldenroof.org" title="Officially registered, licensed and insured medical tourism agency in South Korea.">
                            <img class="card-img-top c-logo c-logo-size-4"  src="{% static 'images/golden_roof_korea_medical_tourism_logo.png' %}" alt="Golden Roof">
                        </a>
                    </div>
                    <div class="c-center">
                        <h5 class="m-0"><strong>GOLDEN ROOF</strong></br>Medical Tour Partners</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-3 mb-4">
                        <h5>Your personal health guide!</h5>
                        <p>We make medical tourism to South Korea happen.</p>
                        <p>Officially registered, licensed and insured medical tourism agency in South Korea.</p>
                    </div>

                    <div class="col-6 col-sm-3 mb-4">
                        <h5>Types of treatment</h5>
                        <p>General Surgery</p>
                        <p>Cancer treatment</p>
                        <p>Plastic surgery</p>
                        <p>Health Check-Up</p>
                    </div>

                    <div class="col-6 col-sm-3 mb-4">
                        <h5>Services</h5>
                        <p>Prepare all the paper work needed</p>
                        <p>Find hospital best suited to your case</p>
                        <p>Provide with estimate incuding the most possibile expences</p>
                        <p>Schedule an appointment with a doctor</p>
                        <p>Find you fligh tickets</p>
                        <p>Provide you with accomodation, transportation and translation/interpritation</p>
                        <p>Meet you in the airport</p>
                        <p>24/7 English speaking support</p>
                        <p>Take care of everything else, really!</p>
                    </div>
                    <div class="col-6 col-sm-3 mb-4">
                        <h5>Contacts</h5>
                        <p><a class="text-color-white" href="tel:+821050904297" title="Call us, phone number in Korea"><i class="fas fa-phone" aria-hidden="true"></i> +82 10 5090 4297</a></p>
                        <p><a class="text-color-white" href="https://api.whatsapp.com/send?phone=821050904297&text=I%20am%20interested%20in%20medical%20treatment%20in%20Korea." title="Chat with us on WhatsApp"><i class="fab fa-whatsapp" aria-hidden="true"></i> +82 10 5090 4297</span></a></p>
                        <p><a class="text-color-white" href="mailto:hello@goldenroof.org" title="E-amil address"><i class="fas fa-envelope" aria-hidden="true"></i> hello@goldenroof.org</a></p>
                        <p><a class="text-color-white" href="https://goldenroof.org">165-1 Amco Heritz, Jeongja dong, Bundang-gu, Seongnam City, Gyeonggi<br/><span class="font-weight-bold">Republic of Korea</span></a></p>
                        <p><a class="text-color-white" href="https://goldenroof.org">Copyright &copy; 2014 - {% now "Y"%} Golden Roof Medical Tour Partners</a></p>
                        <p><a class="text-color-white" href="http://almazkun.github.io">Proudly made by <span class="font-weight-bold">almazkun</span></a></p>
                    </div>
                </div>
                <div>
                    <a class="c-center text-color-white pb-4" href="#"><i class="c-display-5 fas fa-angle-up"></i></a>
                </div>
            </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151047080-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-151047080-1');
        </script>

        <!-- Hotjar Tracking Code for goldenroof.org -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1547700,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </body>
</html>