{% extends "base.html"%}


{% block content %}
    <main class="content">
        <section id="intro" class="c-center">
            <div>
                <p class="lead">WE MAKE</p>
                <hr class="m-2 my-md-4">
                <h1 class="display-4">Medical tourism to <br/><span class="font-weight-bold">South Korea</span></h1>
                <hr class="m-2 my-md-4">
                <p class="lead">HAPPEN</p>
                <div class="btn-block my-4">
                    <a class="btn c-btn-wide c-btn-red" href="https://api.whatsapp.com/send?phone=821050904297&text=I%20am%20interested%20in%20medical%20treatment%20in%20Korea." role="button" title="Chat with us on WhatsApp"><i class="fab fa-whatsapp"></i> Chat on WhatsApp</a>
                    <a class="btn c-btn-wide c-btn-light" href="tel:+821050904297" role="button" title="Call us, phone number in Korea"><i class="fas fa-phone"></i> Call us</a>
                </div>
            </div>
        </section>

        <section id="about_us">
            <h2 class="c-display-5"><span class="font-weight-bold">Golden Roof</span><br/>Medical Tour Partners</h2>
            <p class="lead">Making medical tourism Quick, Easy and Effortless since 2014.</p>
            <hr class="my-4">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h5>About us</h5>
                    <p>We, <span class="font-weight-bold">Golden Roof</span> Medical Tour Partners, are an officially registered, licensed and insured medical tourism agency in South Korea.</p>
                    </br>
                    <h5>Our Mission</h5>
                    <p>Make Sure You Have a Pleasant Journey. Quickly and efficiently organize your stay and treatment in South Korea.</p>
                    <p>We are working hard to make you trip as effortless as possible by taking care of all the inconveniences associated with traveling abroad.</p>
                    </br>
                    <h5>Estimate & Treatment Plan</h5>
                    <p>We provide you with accurate estimate including all your expenses in South Korea.</p>
                    </br>
                    <h5>Accommodation & Transfer</h5>
                    <p>We find a place suitable for you to stay and drive you there from an airport.</p>
                    </br>
                    <h5>24 hours a day & 7 days a week</h5>
                    <p>Our customer support team is always with you and ready to help you. We will even call you ourselves to make sure that everything is going smoothly.</p>
                    </br>
                </div>
                <div class="col-12 col-sm-6">
                    <h5>Business Registration Certificate in the Republic of Korea</h5>
                    <img src="static/images/Bussiness Registration Certificate(GoldenRoof MTP).jpg" class="img-fluid img-thumbnail" alt="Bussiness Registration Certificate">
                </div>
            </div>
        </section>

        
    
        <section id="how_we_work" class="my-5">
            <h2 class="c-display-5"><span class="font-weight-bold">Medical tourism</span><br/>to South Korea</h2>
            <p class="lead">What are the main stages of the medical treatment trip?</p>
            <hr class="m-4">
            <p>There are 4 main stages:</p>
            <div class="card-deck c-hww-counters">
                <div class="card card-body shadow border-0 c-hww-counters-items">
                    <h5 class="card-title">Estimate and treatment plan - FREE!</h5>
                    <div class="card-text">
                        <p>Information required for the estimate:<br/>
                            1. First name, Last name and Date of Birth.<br/>
                            2. Scan copies of medical documents and tests with a diagnosis and description of symptoms.<br/>
                            3. Send images of Ultrasound, MRI and CT examinations, if any, to our email:  <a href="mailto:hello@goldenroof.org">hello@goldenroof.org</a>.<br/></p>
                        <p>We will send this information to <strong>the best hospitals</strong> in South Korea.</p>
                    </div>
                </div>
                <div class="card card-body shadow border-0 c-hww-counters-items">
                    <h5 class="card-title">Budget your trip - FREE!</h5>
                    <div class="card-text">
                        <p>Addition to cost of treatment, we will provide you with the other costs such as flight, accommodation, transportation, meals.</p>
                    </div>
                </div>
                <div class="card card-body shadow border-0 c-hww-counters-items">
                    <h5 class="card-title">Prepare you for the travel - FREE!</h5>
                    <div class="card-text">
                        <p>We take care of <strong>everything</strong> needed for a trip:<br/>
                        1. Schedule all appointments.<br/>
                        2. Provide you with all necessary documents and visa support.<br/>
                        3. Book your flight and accommodation.<br/>
                        4. Arrange an airport transfer.
                        </p>
                    </div>
                </div>
                <div class="card card-body shadow border-0 c-hww-counters-items">
                    <h5 class="card-title">In South Korea</h5>
                    <div class="card-text">
                        <p>We meet you at the airport and we will be with you all the time.</p>
                        <p>We provide 24/7 support to our customers while they are in South Korea.</p>
                        <p class="my-4"><strong>Start now!</strong> Contact us to have you estimate.</p>
                    </div>
                </div>
            </div>
            <div class="btn-block my-4">
                <a class="btn c-btn-wide c-btn-red" href="https://api.whatsapp.com/send?phone=821050904297&text=I%20am%20interested%20in%20medical%20treatment%20in%20Korea." role="button" title="Chat with us on WhatsApp"><i class="fab fa-whatsapp"></i> Chat on WhatsApp</a>
                <a class="btn c-btn-wide c-btn-light" href="tel:+821050904297" role="button" title="Call us, phone number in Korea"><i class="fas fa-phone"></i> Call us</a>
            </div>
        </section>

        <section class="my-4">
            <div calss="container">
                <div class="row text-center">
                    <div class="col-sm-3 py-4 bg-danger font-weight-bold text-white rounded-pill"><i class="fas fa-certificate display-1 mb-3"></i></br>LICENCED</div>
                    <div class="col-sm-3 py-4 bg-primary font-weight-bold text-white rounded-pill"><i class="fas fa-shield-alt display-1 mb-3"></i></br>INSURED</div> 
                    
                    <div class="col-sm-3 py-4 bg-primary font-weight-bold text-white rounded-pill"><i class="fas fa-lock display-1 mb-3"></i></br>SECURED</div>
                    <div class="col-sm-3 py-4 bg-info font-weight-bold text-white rounded-pill "><i class="fas fa-user-shield display-1 mb-3"></i></br>PRIVATE</div> 
                </div>
            </div>
        </section>

        <section id="why_korea" class="my-5">
            <h2 class="c-display-5"><span class="font-weight-bold">Why</span><br/> South Korea?</h2>
            <hr class="m-4">
            <p>7 Reasons why more than 400 000 people in 2018 have come to South Korea for medical treatment:</p>
            
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <span class="card-title lead">1. Excellent medical skills of the doctor</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <span class="card-title lead">2. Reliability of medical institution</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <span class="card-title lead">3. State-of-the-art medical equipment and facilities</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <span class="card-title lead">4. Infrastructure for Foreign Patients</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <span class="card-title lead">5. Reasonable pricing</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <span class="card-title lead">6. Geographical accessibility</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <span class="card-title lead">7. Ease of communication</span>
                    </div>
                </div>


            
        </section>

        <section id="hospital_snubh" class="my-5">
            <h2 class="c-display-5">Seoul National University </br><span class="font-weight-bold">Bundang Hospital</span></h2>
            <p class="lead">We are officially partnered with Bundang Hospital (SNU) since 2014.</p>
            <hr class="m-4">


            <div id="clinic_images" class="row">
                <div id="carouselExampleIndicators" class="carousel slide col-md-6 mb-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                    </ol>
                    <div class="carousel-inner rounded" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_0.jpg" data-src="holder.js/900x400?theme=social" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_1.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_2.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_3.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_4.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_5.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_6.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_7.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_8.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="static/images/Seoul_National_University_Bundang_Hospital_c_9.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="col col-md-6">
                    <p>Bundang Hospital of Seoul National University (SNU), opened as the first branch of the Seoul National University Hospital in May 2003.</p>
                    <p>Since its establishment, Bundang Hospital (SNU) has proven itself as a national and international medical leader in medicine, providing
                     world-class medical care through breakthroughs in science and education.</p>
                    <p>The unique electronic system for recording and storing medical information, which allowed Bundang Hospital (SNU) to receive the 
                    <a href="https://www.himssanalytics.org/stage-6-7-achievement" target="_blank"><u>HIMSS Stage 7</u></a>, 
                        the top stage, in the <a href="https://www.himssanalytics.org/about" target="_blank"><u>HIMSS Analytics Electronic Medical Record 
                        Adoption Model</u></a>. At the time, to be the 
                        <a href="https://www.healthitoutcomes.com/doc/himss-national-university-hospital-revalidated-award-0001" target="_blank"><u>
                        first healthcare provider</u></a> to achieve it outside of United States.</p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-5">
                            <img  src="static/images/Seoul_National_University_Bundang_Hospital_K_ISMS.jpg" class="img-fluid img-thumbnail" alt="ISMS">
                        </div>
                        <div class="col-7">
                            <p>ISMS</p>
                            <p>Valid Date: Apr 6th, 2017 ~ Apr 5th, 2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-5">
                            <img  src="static/images/Seoul_National_University_Bundang_Hospital_ISO27001.jpg" class="img-fluid img-thumbnail" alt="ISO27001">
                        </div>
                        <div class="col-7">
                            <p>ISO27001</p>
                            <p>Valid Date: Sept 15th, 2017 ~ Sept 14th, 2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-5">
                            <img  src="static/images/Seoul_National_University_Bundang_Hospital_HIMSS_stage_7.jpg" class="img-fluid img-thumbnail" alt="HIMSS7">
                        </div>
                        <div class="col-7">
                            <p>HIMSS7</p>
                            <p>Valid through 2019</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-5">
                            <img  src="static/images/Seoul_National_University_Bundang_Hospital_National_Accreditation_Standards_in_Healthcare_service.jpg" class="img-fluid img-thumbnail" alt="National Accreditation Standards in Healthcare service">
                        </div>
                        <div class="col-7">
                            <p>National Accreditation Standards in Healthcare service</p>
                            <p>Valid Date: Dec 28th, 2018 ~ Dec 27th, 2022</p>
                        </div>
                    </div>
                </div>

            </div>

                <hr class="m-4">
            <div>
                
                <div id="clinic_video" class="row">
                    <div class="col-md-6 mb-4">
                    <h5>Welcome to the International Healthcare Center of Seoul National University Bundang Hospital (SNUBH)</h5>
                        <div class="embed-responsive embed-responsive-16by9 rounded">
                            <iframe class="rounded" style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/RSN2i7fw_Js" 
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h5>[Virtual Reality] Live Surgery of Gastric Cancer at Seoul National University Bundang Hospital (SNUBH)</h5>
                        <div class="embed-responsive embed-responsive-16by9 rounded">
                            <iframe class="rounded" style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/zLHNkZdyilw" 
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h5>[Virtual Reality] Patient Experience at Seoul National University Bundang Hospital (SNUBH)</h5>
                        <div class="embed-responsive embed-responsive-16by9 rounded">
                            <iframe class="rounded" style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/9ATbUc-dOg8" 
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h5>[Virtual Reality] Patient MRI Experience at Seoul National University Bundang Hospital (SNUBH)</h5>
                        <div class="embed-responsive embed-responsive-16by9 rounded">
                            <iframe class="rounded" style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/34_qaHCQ1nU" 
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
                <hr class="m-4">

        
            <div id="hospital-centers">
                <h2 class="c-display-5"><span class="font-weight-bold">Specialized Center</span><br/>Bundang Hospital (SNU)</h2>
                <hr class="m-4">
                <div class="row">
                    <div class="col-md-6">
                        <p>Bundang Hospital (SNU) is 1,360-bed medical center, located at the Southern suburb of Seoul, offers sophisticated cutting-edge diagnostic 
                            and therapeutic care in virtually every specialty and subspecialty of medicine and surgery.</p>
                        <p>SNUBH has been consistently ranked first in the category of quality measurements of general hospitals for thirteen 
                            consecutive years and Korea Brand Power Index. In 2012, SNUBH was given the title of “1st Class in all categories” of 
                            quality measurements based on outcomes, patient safety, and customer satisfaction, the recognition from the Health 
                            Insurance Review and Assessment Service, which is a subsidiary of the National Insurance company of Korea.</p>
                        <p>Our nine multidisciplinary specialty care centers, comprising of SNUBH medical staff from all different lines of 
                            specialties provide comprehensive one stop medical care to the patients with various medical conditions and different medical needs. </p>
                    </div>
                    <div class="col-md-6">
                        <div class="c-center row">
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_1_cen.png">
                            <p class="c-centers-p">Comprehensive Cancer Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_2_cen.png">
                            <p class="c-centers-p">Neuroscience Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_3_cen.png">
                            <p class="c-centers-p">Geriatric Medicine Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_4_cen.png">
                            <p class="c-centers-p">Cardiovascular Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_5_cen.png">
                            <p class="c-centers-p">Respiratory Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_6_cen.png">
                            <p class="c-centers-p">Joint Disease & Reconstruction Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_7_cen.png">
                            <p class="c-centers-p">Spine Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_8_cen.png">
                            <p class="c-centers-p">Digestive Disease Center</p>
                        </div>
                        <div class="c-centers-card">
                            <img class="c-centers-img" src="static/images/c_9_cen.png">
                            <p class="c-centers-p">Dizziness Center</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts" class="my-5">									<!-- Contacts -->
            <h2 class="c-display-5"><span class="font-weight-bold">Contacts</span><br/>Get in touch</h2>
            <hr class="m-4">
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="card card-body">
                        <h5>Our WhatsApp number:</h5>

                        <a href="https://api.whatsapp.com/send?phone=821050904297&text=I%20am%20interested%20in%20medical%20treatment%20in%20Korea." title="Chat with us on WhatsApp">
                            <span class="font-weight-bold"><i class="fab fa-whatsapp" aria-hidden="true"></i> +82 10 5090 4297</span></a>
                        <span class="small">We will answer almost immediately</span>
                    </div>
                    <div class="card card-body">
                        <h5>Our phone number:</h5>

                        <a href="tel:+821050904297" title="Call us, phone number in Korea">
                            <span class="font-weight-bold"><i class="fas fa-phone" aria-hidden="true"></i> +82 10 5090 4297</span>
                        </a>
                        <span class="small">If we haven’t picked up the phone, it happens, we will call you back later</span>
                    </div>
                    <div class="card card-body">
                        <h5>Our e-mail address:</h5>

                        <a href="mailto:hello@goldenroof.org" title="E-mail address">
                            <span class="font-weight-bold"><i class="fas fa-envelope" aria-hidden="true"></i> hello@goldenroof.org</span>
                        </a>
                        <span class="small">We will answer you during the working hours</span>
                    </div>
                    <div class="card card-body">
                        <h5>Our Corporate Address</h5>

                        <span class="font-weight-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> 165-1 Amco Heritz, Jeongja dong, Bundang-gu, Seongnam City, Gyeonggi, Republic of Korea</span>
                        <span class="small">Come on in for a cup of coffee</span>
                    </div>
                    <div class="card card-body">
                        <table class="table table-hover table-sm">
                            <h5>Working Hours</h5>

                            <tbody>
                                <tr>
                                    <th scope="row">Mo-Fr</th>
                                    <td>10:00 AM - 7:00 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sa</th>
                                    <td>10:00 AM - 2:00 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">Su<br/>Holidays</th>
                                    <td>Day off</td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="small">KST (Korea Standard Time) - UTC/GMT +9 hours</span>
                    </div>
                </div>
                <div class="col-sm-6 c-form">
                    <h5 class="card-title">Fill out the following form:</h5>
                   
                    <iframe style="width: 100%; height: 100%;" frameborder="0" marginheight="0" marginwidth="0" src="https://docs.google.com/forms/d/e/1FAIpQLSd8JWQJIJ4xxvZ4VQEyVcs0kelPZDkMwm34fYDv6lHIUiWW_Q/viewform?embedded=true">Loading…</iframe>
                </div>
            </div>
        </section>

        
    </main>
{% endblock content%}